<div class="register-container">
    <h2>Sign up</h2>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password" class="form-control">
      </div>
      <button type="submit" class="btn-primary">Sign up</button>
    </form>
  
    <p class="login-link">Already registered? <a routerLink="/login">Sign in</a></p>
</div>
