<h2>All Insurance Contracts</h2>

<button class="btn btn-primary mb-3" (click)="createInsuranceContract()">Add Insurance Contract</button>

<table class="table">
    <thead>
        <tr>
            <th>Contract Number</th>
            <th>Contract Date</th>
            <th>Insurance Amount</th>
            <th>Tariff Rate</th>
            <th>Branch</th>
            <th>Insurance Type</th>
            <th>Insurance Agent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contract of insuranceContracts">
            <td>{{ contract.contractNumber }}</td>
            <td>{{ contract.contractDate | date }}</td> <td>{{ contract.insuranceAmount }}</td>
            <td>{{ contract.tariffRate }}</td>
            <td>{{ contract.branch?.branchName || contract.branch }}</td> 
            <td>{{ contract.insuranceType?.insuranceTypeName || contract.insuranceType }}</td> 
            <td>
                {{ contract.agent?.lastName }} {{contract.agent?.firstName}} {{contract.agent?.middleName}}
            </td> 
            <td>
                <button class="btn btn-sm btn-warning" (click)="editInsuranceContract(contract._id)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteInsuranceContract(contract._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
