<nav class="sidebar">
    <ul>
      <li>
        <a (click)="navigateToBranches()" style="cursor: pointer;">Branches</a>
      </li>
      <li>
        <a (click)="navigateToInsuranceTypes()" style="cursor: pointer;">Insurance Types</a>
      </li>
      <li>
        <a (click)="navigateToInsuranceAgents()" style="cursor: pointer;">Insurance Agents</a>
      </li>
      <li>
        <a (click)="navigateToInsuranceContracts()" style="cursor: pointer;">Insurance Contracts</a>
      </li>
    </ul>
</nav>